[submodule "lib/SarcLibrary"]
	path = lib/SarcLibrary
	url = https://github.com/EPD-Libraries/SarcLibrary
[submodule "lib/cs-oead"]
	path = lib/cs-oead
	url = https://github.com/WildMods/cs-oead
[submodule "lib/OperationResult"]
	path = lib/OperationResult
	url = https://github.com/WildMods/OperationResult.git
[submodule "lib/BfresLibrary"]
	path = lib/BfresLibrary
	url = https://github.com/WildMods/BfresLibrary
[submodule "lib/BntxSharp"]
	path = lib/BntxSharp
	url = https://github.com/BladesawStudios/BntxSharp
